

<div class="">
    <div class="border-start ps-4">
        <div class="">
            <form id="search_form" name="gs" method="GET" action="#">
                <div class="form-floating">
                    <input type="text" name="q" class="searchText form-control" placeholder="type to search..." autocomplete="on"
                        [value]="initialValue" (input)="onInput($event)">
                </div>
        </form>
        </div>

         
           
          
        
    </div>
</div>