<section *ngIf="isLoaded" class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="assets/images/blog-post-02.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{post.category.name.text}}</span>
                                    <a [routerLink]="['/blog', post.href ]">
                                        <h4>{{post.title.text}}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{post.author.name.text}}</a></li>
                                        <li><a href="#">{{post.date}}</a></li>
                                    </ul>
                                    <div [innerHTML]="post.content ">
                                    </div>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags" *ngFor="let tag of post.tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="/">{{tag.title.text}}</a>,</li>
                                                </ul>
                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <app-blog-search></app-blog-search>
                        <app-blog-recent-posts></app-blog-recent-posts>
                        <app-blog-categories></app-blog-categories>
                        <app-blog-tags></app-blog-tags>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>