
<!-- Under Construction  Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <h1 class="display-1">We're currently cultivating something amazing for you!</h1>
                <h1 class="mb-4">Stay tuned for the upcoming growth of our website</h1>
                <p class="mb-4">Much like a plant reaching for the sun! We're preparing exciting
                    updates and expanding our services. If you're eager to explore our <a routerLink="/blog">blog</a>
                    and discover more
                    about the world of plants, or
                    if you have any questions and need assistance, please don't hesitate to reach out to us at <a
                        routerLink="/contact">contact</a>. Thank
                    you for your patience as we nurture this digital garden.</p>
                    <a class="btn btn-primary py-3 px-4" routerLink="/home/contact">Contact Us for Updates</a>
                </div>
                </div>
                </div>
    </div>
    <!-- Under Construction End -->

