<div class="heading-page header-text">
    <section style="margin-top:5px" class="page-heading">
        <div class="container">
            <div class="row">
                <section class="hero bg-dark text-white text-center py-5">
                    <div class="container">
                        <!-- <img src="" alt="gbaby.tech - Revolutionize Indoor Gardening" class="img-fluid mb-4" />
                 -->
                        <h1 class="display-3">Revolutionize Your Indoor Gardening with gbaby.tech</h1>
                
                        <p class="lead">Smart, Sustainable, and Convenient Indoor Gardening Solutions</p>
                
                        <a href="#shop-now" class="btn btn-primary btn-lg">Shop Now</a>
                    </div>
                </section>

                </div>
                </div>
                </section>
