<!-- <div class="blog-post">
    <div class="blog-thumb">
        <img src="{{post.mainImage.asset.url}}" alt="">
    </div>
    <div class="down-content">
        <span>{{post.category.name.text}}</span>
        <a [routerLink]="['/blog', post.href ]">
            <h4>{{post.title.text}}</h4>
        </a>
        <ul class="post-info">
            <li><a href="#">{{post.author.name.text}}</a></li>
            <li><a href="#">{{post.date}}</a></li>
        </ul>
        <p>{{post.description.text}}</p>
        <div class="post-options">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="post-tags" *ngFor="let tag of post.tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li  ><a href="/">{{tag.title.text}}</a>,</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="" data-wow-delay="0.1s">
    <div class="team-item rounded">
        <div class="card">
            <img class="card-img-top" src="{{post.mainImage.asset.url}}" alt="Card image cap">
        </div>

        <div class="team-text">
            <a [routerLink]="['/blog', post.href ]">
                <h4 class="mb-0">{{post.title.text}}</h4>
                <p class="text-primary">{{post.category.name.text}}</p>
            </a>

            <div class="team-social d-flex">
                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>