<div class="card" style="width: 400px; height: 600px;" data-wow-delay="0.1s">
    <div class="team-item rounded">
        <!-- Image container with flexbox -->
        <div class="card-img d-flex align-items-center justify-content-center">
            <img style="width: 400px; height: 600px;" class="img-fluid" src="{{post.prevImage.asset.url}}"
                alt="Card image cap">
        </div>

        <!-- Text container -->
        <div class="team-text">
            <!-- Link to blog post -->
            <a [routerLink]="['/blog', post.href ]">
                <!-- Title and description -->
                <h4 class="mb-0">{{post.title.text}}</h4>
                <p class="text-primary mb-4">{{post.description.text}}</p>
            </a>
        </div>
    </div>
</div>