<!-- Page Header Start -->

<!-- Page Header End -->

<!-- About Start -->
<div *ngIf="isLoaded" class="container-xxl mt-4">
    <div class="">
        <div class="row">
            <img class="wow fadeInLeft img-fluid img-border" data-wow-delay="0.1s" src="{{post.mainImage.asset.url}}">

            <div class="col-xl-12 col-lg-12 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">


                <h1 class="mt-4"><a [routerLink]="['/blog', post.href ]">
                        {{post.title.text}}
                    </a></h1>
                <!-- TODO: #12 Add Post Date -->
                <!-- TODO: #13 Add Post TAGS -->
                <p class="text-primary mb-4">{{post.description.text}}</p>

                <div [innerHTML]="post.content ">

                </div>
                <div class="row">
                    <p class="text-primary mb-4">{{post.author.name.text}}</p>
                </div>
                <!-- TODO: #11 Add Social Media share buttons -->
            </div>

        </div>
    </div>
    <!-- About End -->